@model SignInInput

<div class="row">
    <div class="col-md-4 offset-md-t">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Üye Giriş</h5>
                <div asp-validation-summary="ModelOnly"></div>
                <form asp-controller="Auth" asp-action="SignIn" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email address</label>
                        <input type="email" value="sinantasyapar@gmail.com" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input type="password" value="Password123!" asp-for="Password" class="form-control" id="exampleInputPassword1">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" asp-for="IsRemember" class="form-check-input" id="exampleCheck1">
                        <label asp-for="IsRemember" class="form-check-label" for="exampleCheck1"></label>
                    </div>
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
</div>
